
<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
  <h2>User search for</h2>
    <% @users.each do |user| %>
    <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th>image</th>
          <th>name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag user.get_profile_image(50, 50) %></td>
          <td><%= user.name %></td>
          <td><%= link_to 'show', user %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <tbody>
        <h2>Book search for</h2>
      <% @books.each do |book| %>
        <table class='table table-hover table-inverse'>
      <thead>
        <tr>
          <th></th>
          <th>title</th>
          <th>opinion</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= image_tag book.user.get_profile_image(50, 50) %></td>
          <td><%= book.title %></td>
          <td><%= book.body %></td>
          <td><%= link_to 'show', book.user %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
    <% end %>